@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Font
$text-font: 'Manrope';

// Colors
$orange-dark-color: #D87D4A;
$orange-light-color: #FBAF85;
$black-dark-color: #000000;
$black-light-color: #101010;
$navbar-color: #191919;
$grey-dark-color: #F1F1F1;
$grey-light-color: #FAFAFA;
$white-light-color: #FFFFFF;

