@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.home-header {
  margin-top: 90px;
  width: 100%;
  background-color: rgba(16, 16, 16, 0.9607843137);
  height: 38rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 6px;
  margin-bottom: 140px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .home-header {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 480px) {
  .home-header {
    margin-bottom: 70px;
  }
}
.home-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 1400px;
  opacity: 0;
  margin-left: 50px;
  animation: pictureFade 1.5s 0.3s forwards;
}
@media screen and (max-width: 1024px) {
  .home-header img {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .home-header img {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .home-header img {
    width: 100%;
  }
}

.hero-picture {
  width: 100%;
  margin-top: -90px;
}
.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1325px;
  padding: 0 100px;
  opacity: 0;
  animation: textFade 1s 1s ease-in forwards;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .hero-container {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero-container {
    width: 100%;
  }
}
.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .hero-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}
.hero-title, .hero-product, .hero-description {
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .hero-title, .hero-product, .hero-description {
    text-align: center;
  }
}
.hero-title {
  font-size: 16px;
  letter-spacing: 8.5px;
  color: rgba(255, 255, 255, 0.368627451);
}
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .hero-title {
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero-title {
    letter-spacing: 8px;
  }
}
.hero-product {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .hero-product {
    font-size: 35px;
    line-height: 40px;
  }
}
.hero-description {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6784313725);
  width: 70%;
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .hero-description {
    width: 380px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .hero-description {
    width: 360px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero-description {
    width: 80%;
    font-size: 15px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0 40px;
  }
}
@media screen and (max-width: 480px) {
  .main {
    padding: 0 25px;
  }
}

.product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 170px;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .product-section {
    padding-top: 60px;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .product-section {
    padding-top: 40px;
    padding-bottom: 100px;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .product-section {
    padding-top: 80px;
    padding-bottom: 140px;
    gap: 25px;
    text-align: center;
  }
}
.product-main {
  width: 100%;
  height: 560px;
  background: url("/starter-code/assets/home/desktop/pattern-circles.svg");
  background-color: #D87D4A;
  background-repeat: no-repeat;
  background-position: -160px -30px;
  background-size: 940px;
  border-radius: 10px;
  position: relative;
  max-width: 1130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .product-main {
    height: 420px;
    align-items: flex-end;
    background-position: -90px -30px;
    background-size: 710px;
  }
}
@media screen and (max-width: 768px) {
  .product-main {
    height: 720px;
    background-position: 50% -300px;
    background-size: 940px;
  }
}
@media screen and (max-width: 480px) {
  .product-main {
    height: 600px;
    background-position: 50% -120px;
    background-size: 555px;
  }
}
.product-main-container {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product-main-container {
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
}
@media screen and (max-width: 480px) {
  .product-main-container {
    gap: 30px;
  }
}
.product-main-container img {
  width: 380px;
  position: absolute;
  left: 125px;
  bottom: -12px;
}
@media screen and (max-width: 1024px) {
  .product-main-container img {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .product-main-container img {
    position: inherit;
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .product-main-container img {
    width: 160px;
  }
}
.product-main-content {
  display: flex;
  width: 970px;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .product-main-content {
    width: 760px;
  }
}
@media screen and (max-width: 768px) {
  .product-main-content {
    width: 100%;
  }
}
.product-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-right: 10px;
  width: 310px;
}
@media screen and (max-width: 1024px) {
  .product-content {
    gap: 20px;
    margin-right: 0;
    width: 230px;
  }
}
@media screen and (max-width: 768px) {
  .product-content {
    width: 100%;
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 480px) {
  .product-content {
    gap: 20px;
  }
}
.product-title-main {
  font-size: 55px;
  font-weight: 700;
  color: #FFFFFF;
  width: 200px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .product-title-main {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .product-title-main {
    font-size: 55px;
    width: 300px;
    line-height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .product-title-main {
    font-size: 38px;
    width: 180px;
    line-height: 43px;
  }
}
.product-description-main {
  color: #FFFFFF;
  width: 100%;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .product-description-main {
    font-size: 14px;
    width: 230px;
  }
}
@media screen and (max-width: 768px) {
  .product-description-main {
    font-size: 15px;
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .product-description-main {
    width: 80%;
  }
}
.product-title-main, .product-description-main {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .product-title-main, .product-description-main {
    text-align: center;
  }
}
.product-button-speaker {
  width: 160px;
  height: 48px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 13px;
  font-family: "Manrope";
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
}
@media screen and (max-width: 1024px) {
  .product-button-speaker {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 768px) {
  .product-button-speaker {
    width: 128px;
    height: 44px;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 480px) {
  .product-button-speaker {
    margin-top: 5px;
    margin-bottom: 55px;
  }
}
.product-button-speaker:hover {
  background-color: rgb(80, 80, 80);
  color: #FFFFFF;
}

.secondary-product {
  background: url("/starter-code/assets/home/desktop/image-speaker-zx7.jpg");
  width: 100%;
  max-width: 1130px;
  height: 320px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
}
@media screen and (max-width: 1024px) {
  .secondary-product {
    height: 280px;
  }
}
@media screen and (max-width: 768px) {
  .secondary-product {
    height: 320px;
    background: url("/starter-code/assets/home/tablet/image-speaker-zx7.jpg") no-repeat;
    background-position: right;
    background-size: 900px;
  }
}
@media screen and (max-width: 480px) {
  .secondary-product {
    background: url("/starter-code/assets/home/mobile/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 350px;
    background-size: 430px;
  }
}
.secondary-product-container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .secondary-product-container {
    width: 38%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  .secondary-product-container {
    width: 60%;
    margin-left: 15px;
  }
}
.secondary-product-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.secondary-product-title {
  color: #000000;
  text-align: left;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .secondary-product-title {
    font-size: 27px;
  }
}

.third-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1130px;
  height: auto;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .third-product {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .third-product {
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .third-product {
    flex-direction: column;
    gap: 25px;
  }
}
.third-product-picture {
  width: 50%;
  height: 320px;
}
@media screen and (max-width: 480px) {
  .third-product-picture {
    width: 100%;
    height: 210px;
  }
}
.third-product-picture picture {
  display: flex;
  height: 100%;
  width: 100%;
}
.third-product-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.third-product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 65%;
}
@media screen and (max-width: 768px) {
  .third-product-content {
    width: 85%;
  }
}
.third-product-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #F1F1F1;
  height: 320px;
  border-radius: 10px;
}
@media screen and (max-width: 480px) {
  .third-product-content-container {
    width: 100%;
    height: 210px;
  }
}
.third-product-title {
  text-align: left;
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .third-product-title {
    text-align: center;
  }
}

.branding-section {
  display: flex;
  justify-content: center;
}

@keyframes pictureFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=home.css.map */