@import '../../styles/variables';
@import '../../styles/breakpoints';

.buttonFilled {
    width: 160px;
    height: 48px;
    background-color: $orange-dark-color;
    color: $white-light-color;
    font-weight: 600;
    font-size: 13px;
    font-family: $text-font;
    border-radius: 2px;

    @include tablet {
        width: 128px;
        height: 44px;
        font-size: 11px;
    }
}

.buttonFilled:hover {
    background-color: $orange-light-color;
}